<h1> Subscriptions </h1>

<% if !@followers.empty? %>
	Your Followers
	<% @followers.each do |follower| %>
		<h6> <%= follower.first_name%> </h6>
	<% end %>
<% else %>
	<h2> You have no followers </h2>
<% end %>
<br/>


<%if !@following.empty? %>
	You are currently following:
	<% @following.each do |follow| %>
		<h6> <%= follow.first_name %> </h6>
	<% end %>
<% else %>
	<h2> You are not following anything </h2>
<% end %>