<%= form_for search_product, :html => {:class => 'form-search navbar-search'} do %>
  <div class="input-append">
    <%= text_field_tag 'q', nil , :class => 'span3 search-query', :id => 'term', :html => {:placeholder => 'Search a Person, Brand, Product, Category'} %>
    <%= submit_tag '', :class => 'btn' do %>
    <i class="icon-search"></i> 
    <% end %>
  </div>
<% end %>